body {
  font-family: cursive;
  font-size: 12pt;
  color: blue;
}

.main-section {
  color: yellow;
  font-size: 20pt;
  font-family: fantasy;
  }

.main__content{
font-family: "Oswald", sans-serif;
  font-size: 18pt;
  text-align: justify;
}

.main-content__title{
  color: plum;
  font-style: oblique;
  text-align: center;
}

.main-content__subtitle{
  color: green;
  font-size: 16pt;
}

.main-content__subtitle_small{
  color: gray;
  font-size: 8pt;
  font-family: cursive;
}
